@page "/spellborn"
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@using Masa.Blazor

<PageTitle>Chronicles of Spellborn</PageTitle>

<MContainer>
    <MRow Justify="JustifyTypes.Center">
        <MCol Cols="12" Md="8">
            <MCard Class="rounded-lg" Elevation="4">
                <div class="pa-6">
                    <div class="text-h4 mb-4">Chronicles of Spellborn</div>
                    <div class="d-flex">
                        <MButton Color="primary"
                                OnClick="processlaunchusespl"
                                Class="mr-4 rounded-lg">
                            Launch Game
                        </MButton>
                        <MButton Icon
                                Class="rounded-lg"
                                OnClick="ModalShow">
                            <MIcon>mdi-cog</MIcon>
                        </MButton>
                    </div>
                </div>
            </MCard>
        </MCol>
    </MRow>
</MContainer>

<MDialog @bind-Value="showModal"
         MaxWidth="500"
         Fullscreen
         Transition="dialog-bottom-transition">
    <MCard Class="rounded-lg">
        <div class="pa-4">
            <div class="text-h5 mb-4">Settings</div>
            <MTextField @bind-Value="gamepathersinp"
                       Label="Game Path"
                       Filled
                       Clearable
                       Class="mb-4" />
            <div class="d-flex justify-end">
                <MButton Color="primary"
                         OnClick="ModalOk"
                         Class="mr-2 rounded-lg">
                    Apply
                </MButton>
                <MButton OnClick="ModalCancel"
                         Class="rounded-lg">
                    Cancel
                </MButton>
            </div>
        </div>
    </MCard>
</MDialog>

@code {
    private string gamepathersinp = "";
    bool showModal = false;

    void ModalShow() => showModal = true;
    void ModalCancel() => showModal = false;
    void ModalOk()
    {
        Console.WriteLine("Modal ok");
        showModal = false;
    }

    void processlaunchusespl()
    {
        navigationManager.NavigateTo($"HandleWebRequest:HandleReqLaunch?spellbornhandle=yes:?gamepath={gamepathersinp}");
    }
}
