@inherits LayoutComponentBase



<MApp>
  

    <!-- Sizes your content based upon application components -->
  <MMain>
    <!-- Provides the application the proper gutter -->
    <MContainer Fluid>
        @Body
    </MContainer>
  </MMain>
  <MBottomNavigation
    @bind-value="value"
    BackgroundColor="@color"
    Grow
    Dark
    Shift>
    <MButton href="">
        <span>Home</span>

        <MIcon>mdi-home</MIcon>
    </MButton>

    <MButton href="counter">
        <span>FFXIV</span>

        <MIcon>mdi-build</MIcon>
    </MButton>

    <MButton href="spellborn">
        <span>Spellborn</span>

        <MIcon>mdi-login</MIcon>
    </MButton>

    
  </MBottomNavigation>
</MApp>
@code {

    StringNumber value = 1;

    string color
    {
        get
        {
            if (value == 0) return "blue-grey";
            if (value == 1) return "red";
            if (value == 2) return "brown";
            if (value == 3) return "indigo";
            return "blue-grey";
        }
    }

}
