<MBottomNavigation
    @bind="value"
    BackgroundColor="@color"
    Dark
    Shift>
    <MButton href="">
        <span>Home</span>

        <MIcon>mdi-home</MIcon>
    </MButton>

    <MButton href="counter">
        <span>FFXIV</span>

        <MIcon>mdi-firework</MIcon>
    </MButton>

    <MButton href="spellborn">
        <span>Spellborn</span>

        <MIcon>mdi-book</MIcon>
    </MButton>

    
</MBottomNavigation>

@code {

    var value = 1;

    string color
    {
        get
        {
            if (value == 0) return "blue-grey";
            if (value == 1) return "red";
            if (value == 2) return "brown";
            if (value == 3) return "indigo";
            return "blue-grey";
        }
    }

}
